/* Styling for the typing text */
.letter, .correct, .incorrect, .current {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.correct {
  color: #0f0; /* Green for correct letters */
}

.incorrect {
  color: #f00; /* Red for incorrect letters */
}

.current {
  text-decoration: underline;
  text-decoration-color: rgb(0, 221, 255); /* Yellow underline for current letter */
}

.data-structure-container {
  position: relative;
  width: 100%; /* Or a specific width if preferred */
  max-width: 800px; /* Adjust based on your preference */
  margin: 0 auto; /* Center the container */
}

.text-display, .typing-area {
  width: 100%;
  height: auto; /* Adjust height as needed, or use 'auto' */
  min-height: 400px; /* Example height, adjust based on your content */
}

.typing-area {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* Make the textarea transparent */
  z-index: 10; /* Ensure it's above the text display */
}

.stats-overlay {
  position: fixed; /* or 'absolute', depending on your layout */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75); /* semi-transparent overlay */
  color: white;
  z-index: 100; /* ensures it's above other content */

}

.stats-overlay.hidden {
  display: none;
}

.restart-button {
  background-color: #00e6f6; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 12px 24px; /* Top and bottom padding, Left and right padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Medium text size */
  margin: 4px 2px; /* Spacing around the button */
  transition-duration: 0.4s; /* Smooth transition for hover effect */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
}

.restart-button:hover {
  background-color: #02a4b9; /* Darker shade of green on hover */
}


.custom-select {
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none;    /* For Firefox */
  appearance: none;         /* Standard syntax */
  background-image: url('data:image/svg+xml;utf8,<svg ...></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em;
}

.selection-container {
  position: relative;
}

.selection-container::after {
  content: ''; /* Alternatively, your custom arrow SVG or icon */
  pointer-events: none;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

